<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/Student.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <header>
            <div class="button">
                <span class="nav" style="font-size:25px;cursor:pointer" onclick="openNav()">&#9776;</span>
            </div>
            STUDENT CORNER
        </header>
        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="~/Student/Home">Home</a>
            <a href="~/Student/Student">Student Corner</a>
            <a href="~/Student/Teacher">Teachers Corner</a>
            <a href="~/Student/Admin">Admin Corner</a>
            <a href="~/Student/AboutUs">About Us</a>
            <a href="~/Student/Contact">Contact</a>
        </div>


        <script>
            function openNav() {
                document.getElementById("mySidenav").style.width = "200px";
            }

            function closeNav() {
                document.getElementById("mySidenav").style.width = "0";
            }
        </script>
        <div class="personalDetails">
            <div class="photo">
                <img src="~/Content/images/student.jpg" width="100" height="100">
            </div>
            <div class="details">
                Name:  Sanjana Khan
            </div>
            <div class="details">
                Id:  15.01.04.113
            </div>
            <div class="details">
                Year: 3rd
            </div>
            <div class="details">
                Semester: 2nd
            </div>
            <div class="details">
                Department: CSE
            </div>
            <div class="details">
                DOB:  4th September
            </div>
            <div class="details">
                Phone: 015xxxxxxx
            </div>
            <div class="details">
                Address: gffgf ggh ghf ghf fghfd
            </div>
            <div class="details">
                Blood Group:  O+
            </div>

        </div>
        <div class="full">
            <div class="head">
                Class Schedule
            </div>
            <div class="routine">
                <div class="subroutine">
                    <div class="subsubroutineHeader">
                        Saturday
                    </div>
                    <div class="subsubroutine">
                        8.00-8.50<br />
                        cse 3220<br />
                        7A04<br />
                        MMH
                    </div>
                    <div class="subsubroutine">

                    </div>
                    <div class="subsubroutine">

                    </div>
                    <div class="subsubroutine">

                    </div>
                    <div class="subsubroutine">

                    </div>
                    <div class="subsubroutine">

                    </div>
                    <div class="subsubroutine">

                    </div>
                    <div class="subsubroutine">

                    </div>
                    <div class="subsubroutine">

                    </div>

                </div>
                <div class="subroutine">
                    <div class="subsubroutineHeader">
                        Suunday
                    </div>
                    <div class="subsubroutine">

                    </div>
                    <div class="subsubroutine">

                    </div>
                    <div class="subsubroutine">

                    </div>
                    <div class="subsubroutine">

                    </div>
                    <div class="subsubroutine">

                    </div>
                    <div class="subsubroutine">

                    </div>
                    <div class="subsubroutine">

                    </div>
                    <div class="subsubroutine">

                    </div>
                    <div class="subsubroutine">

                    </div>

                </div>
                <div class="subroutine">
                    <div class="subsubroutineHeader">
                        Monday
                    </div>
                    <div class="subsubroutine">

                    </div>
                    <div class="subsubroutine">

                    </div>
                    <div class="subsubroutine">

                    </div>
                    <div class="subsubroutine">

                    </div>
                    <div class="subsubroutine">

                    </div>
                    <div class="subsubroutine">

                    </div>
                    <div class="subsubroutine">

                    </div>
                    <div class="subsubroutine">

                    </div>
                    <div class="subsubroutine">

                    </div>

                </div>
                <div class="subroutine">
                    <div class="subsubroutineHeader">
                        Tuesday
                    </div>
                    <div class="subsubroutine">

                    </div>
                    <div class="subsubroutine">

                    </div>
                    <div class="subsubroutine">

                    </div>
                    <div class="subsubroutine">

                    </div>
                    <div class="subsubroutine">

                    </div>
                    <div class="subsubroutine">

                    </div>
                    <div class="subsubroutine">

                    </div>
                    <div class="subsubroutine">

                    </div>
                    <div class="subsubroutine">

                    </div>
                </div>
                <div class="subroutine">
                    <div class="subsubroutineHeader">
                        Wednesday
                    </div>
                    <div class="subsubroutine">
                        8.00-8.50<br />
                        cse 3220<br />
                        7A04<br />
                        MMH

                    </div>
                    <div class="subsubroutine">

                    </div>
                    <div class="subsubroutine">

                    </div>
                    <div class="subsubroutine">

                    </div>
                    <div class="subsubroutine">

                    </div>
                    <div class="subsubroutine">

                    </div>
                    <div class="subsubroutine">

                    </div>
                    <div class="subsubroutine">

                    </div>
                    <div class="subsubroutine">

                    </div>
                </div>
                <div class="subroutine">
                    <div class="subsubroutineHeader">
                        Thursday
                    </div>
                    <div class="subsubroutine">

                    </div>
                    <div class="subsubroutine">

                    </div>
                    <div class="subsubroutine">

                    </div>
                    <div class="subsubroutine">

                    </div>
                    <div class="subsubroutine">

                    </div>
                    <div class="subsubroutine">

                    </div>
                    <div class="subsubroutine">

                    </div>
                    <div class="subsubroutine">

                    </div>
                    <div class="subsubroutine">

                    </div>
                </div>
            </div>
            <div class="result">
                <div class="resultHeader">

                    Results
                </div>
                <div class="resultSub">
                    <div class="subj">
                        CSE 3200 <br />
                        Software Development Lab<br />
                        Quiz:<br />
                        Attendance<br />
                        Semester Final:<br />
                        Total:<br />
                        Grade Point:<br />
                        Grade:<br />

                    </div>
                    <div class="subj">
                        CSE 3200 <br />
                        Software Development Lab<br />
                        Quiz:<br />
                        Attendance<br />
                        Semester Final:<br />
                        Total:<br />
                        Grade Point:<br />
                        Grade:<br />
                    </div>
                    <div class="subj">
                        CSE 3200 <br />
                        Software Development Lab<br />
                        Quiz:<br />
                        Attendance<br />
                        Semester Final:<br />
                        Total:<br />
                        Grade Point:<br />
                        Grade:<br />
                    </div>
                </div>
                <div class="resultSub">
                    <div class="subj">

                    </div>
                    <div class="subj">

                    </div>
                    <div class="subj">

                    </div>
                </div>
                <div class="resultSub">
                    <div class="subj">

                    </div>
                    <div class="subj">

                    </div>
                    <div class="subj">

                    </div>
                </div>
            </div>

        </div>

    </div>
    <footer>

        <h5>Copyright Property of Aust Buddy</h5>
    </footer>
</body>
</html>
