header {
    background-color: cadetblue;
    text-align: center;
    padding: .25%;
    font-size: 32px;
    font-family: Calibri;
    border: groove;
    height: 70px;
    text-align: center;
    color: aliceblue;
}

footer {
    border: groove;
    font-family: Calibri;
    margin-top: 5%;
    text-align: center;
    background-color: cadetblue;
}

body {
    font-family: "Lato", sans-serif;
    background: url(images/contact.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh;
    color: black;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: cadetblue;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 20px;
        color: black;
        display: block;
        transition: 0.3s;
    }

        .sidenav a:hover {
            color: #f1f1f1;
        }

    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

        .sidenav a {
            font-size: 18px;
        }
}

.nav {
    margin-top: -20%;
}
div.button {
    width: 10%;
    height: 10px;
}
.contact
{
    font-size:larger;
    padding:6%;
    padding-left:10%;
    color:azure;
}